body {
    background: white;
    max-height: 960px;
}
h1 img{
    display: block;
    margin: 0px auto;
    
}
input#searchBar {
    background-image: url("/images/search.png");
    background-repeat: no-repeat; 
    background-position: 5px ;
    border-radius: 25px;
    display: block;
    margin: 0px auto;
    width: 500px;
    height: 25px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: .9rem;
}
.searchButton {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 8px;  
}
#pageWrap {
   margin-top: 200px;
    
}
/* Navigation*/

#navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    
}
#navbar li {
    display: inline;
    
    
}
#navbar a {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
}

/* Footer */
#pageBttm {
    
}
#pageBttm ul {
    list-style-type: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-evenly;
    height: 1.5rem;
}
#pageBttm li {
    display: inline;
}
#pageBttm a {
    text-decoration: none;
    font-family: sans-serif;
    color: black;

}